html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
.gallery {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stats {
  display: flex;
  justify-content: space-evenly;
}
img {
  display: block;
  width: 640px;
  height: 390px;
}
li {
  display: block;
  margin: 15px;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.is-hidden {
  display: none;
}
/* .button.is-hidden {
  display: none;
} */
.input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
